<div class="page-title-container">
<h1 class="page-title p-2">The Tech Blog</h1>
</div>
<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post">
  <div class="display-flex justify-space-between post-header">
    <h2>
      <a href="/posts/{{post.id}}">{{post.name}}</a>
    </h2>
    <p class="post-byline">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="descrip">
    <p style="white-space: pre-wrap;">{{post.description}}</p>
  </div>
</div>
{{/each}}
