<h1 class="page-title p-2">Tech Blog</h1>

<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="col-md-12 mb-4 post">
  <div class="display-flex justify-space-between">
    <h2>
      <a href="/posts/{{post.id}}">{{post.name}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div >
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}
