<div class="col-md-12 mb-4 post">
  <input type="hidden" name="post-id" id="post-id" value="{{id}}"/>
  <div class="display-flex justify-space-between">
    <h2>{{name}}</h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div >
    <p>
      {{description}}
    </p>
  </div>
</div>
<form class="form new-comment-form">
  <div class="form-group">
    <label for="comment-content">Comment</label>
    <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary submit-button">Add comment</button>
  </div>
</form>

<!-- Loop over each object in the comments array -->
{{#each comments as |comment| }}
<div class="col-md-12 mb-4 post">
  <div class="display-flex justify-space-between">
    <p>{{comment.content}}</p>
  </div>
</div>
{{/each}}



{{!-- <script src="../js/addComment.js"></script> --}}
